@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

.tabla-posiciones
{
    background-image: url(https://thumbs.dreamstime.com/b/de-septiembre-rusia-mosc%C3%BA-ilustraci%C3%B3n-vectorial-en-el-logotipo-fondo-la-copa-mundial-fifa-que-se-celebrar%C3%A1-qatar-copia-del-logo-231463837.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

Quagent Regular

.titulo-tabla
{
    color: white;
    text-align: center;
    padding-top: 13px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
    margin-bottom: -15px;
}

.subtitulo-tabla
{
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}

.linea-tabla
{
    margin-top: 30px;
    padding: 1px;
    width: 350px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    background: linear-gradient(90deg, rgb(220 219 224) 0%,
     rgb(64 64 166) 35%, rgb(85 177 196) 100%);
     border-radius: 10px;
     filter: opacity(0.4);     
}

table
{
    width: 100%;
    margin-top: 20px;
    color: white;
}
table, th, td
{
    border-collapse: collapse;
}

.encabezados
{
    filter: opacity(0.8);
    background: linear-gradient(90deg, #003fbb 0%, #0077 35%, #009ce3 100%);    
}

th
{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 3px solid #2592c4;
}

tr
{
    font-size: 25px;
}

.bandera
{
    width: 60px;
}

.caja_relativa 
{
    position: relative;
    width: 300px;
    height: 200px;
    border: 10px solid blue;
    overflow: scroll;
}

.caja_absoluta
{
    position: absolute;
    width: 50px;
    height: 35px;
    border: 5px solid red;
    top: 50px;
    left: 50px;
}
#caja2
{
    left: 100px;
}

.caja_fija
{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 2px solid green;
}