* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .contenedor {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    background-color: blue;
    justify-content: center; /*Justificamos la caja padre al centro*/
    align-items: stretch; /*Alineacion de los items(hijos) de manera estrecha*/
    align-content: center;
    justify-items: stretch;
    grid-auto-flow: column; /*Hacia donde se van a ir haciendo las cajitas, como de tipo columna(de arriba a abajo) o de tipo row(izquierda a derecha) */
  }
  .caja {
    background-color: aqua;
    color: blue;
    /* margin: 10px;
      height: 100px;
      width: 100px; */
    text-align: center;
    border: 2px solid black;
  }
  #caja1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: rgb(232, 45, 45); */
  }
  /* #caja2,
  #caja6,
  #caja8 {
    background-color: violet;
  } */
  
  .CajaVerde {
    background-color: green;
  }